* {
    box-sizing: border-box;
}

body {
    background-color: #C9C1F7;
}

.menu > [class$=buttons] {
    display: inline;
}

#header-navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    height: 55px;
    width: 100%;
    z-index: 1030;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

#header-navbar .hidden-logged-in {
    padding-right: 10px;
}

#header-navbar .header-menu-btn-text {
    line-height: 16px;
    position: relative;
    padding: 0px 5px;
    font-weight: bold;
}

#header-navbar .header-menu-btn.login-btn,
#header-navbar .header-menu-btn.signup-btn {
    color: rgb(0, 173, 242);
    font-size: 14px;
}

#header-navbar .header-menu-btn {
    font-family: "Bariol Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(53, 70, 75);
    font-size: 14px;
    height: 55px;
    line-height: 33px;
    background: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    padding: 11px 0px 0px;
    margin: 0px 20px
}

#header-navbar .navbar-brand .logo {
    background-image: url(../image/logo.png);
    background-size: 152px 25px;
    display: inline-block;
    height: 25px;
    margin-top: 15px;
    width: 152px;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: -10px;
    padding: 0px 0px;
}
