#hero-inner {
    color: #fff;
}

#hero-inner>.text-center {
    font-size: 36px;
    margin-bottom: 0;
    font-family: "Bariol Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    font-weight: 200;
    line-height: 1.25;
    box-sizing: border-box;
}

#hero-inner>.tagline {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    width: 70%;
    text-align: center;
    line-height: 1.1;
    color: inherit;
}

#hero-image {
    height: 475px;
    margin-top: -20px;
    box-sizing: border-box;
    font-weight: 200;
    color: #00202d;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.25;
    box-sizing: border-box;
}

#hero-overlay {
    height: 475px;
    background-color: rgba(0, 0, 0, 0.15);
    position: relative;
    box-sizing: border-box;
    display: block;
    font-weight: 200;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.25;
    box-sizing: border-box;
}

#hero-overlay #hero-image .image:not(.hidden):nth-of-type(1) {
    animation-delay: 12s;
}

#hero-overlay #hero-image .image {
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-name: heroFadeInOut;
    animation-timing-function: ease-in-out;
    background: no-repeat center;
    background-size: cover;
    height: 475px;
    left: 0;
    object-fit: cover;
    object-position: 50% 100%;
    position: absolute;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: -1;
}

style {}

 #hero-overlay #hero-image .image:not(.hidden):nth-of-type(1) {
    animation-delay: 12s;
}

#hero-overlay #hero-image .image {
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-name: heroFadeInOut;
    animation-timing-function: ease-in-out;
    background: no-repeat center;
    background-size: cover;
    height: 475px;
    left: 0;
    object-fit: cover;
    object-position: 50% 100%;
    position: absolute;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: -1;
}


#hero-overlay #hero-image img {
    width: 100%;
}

img {
    vertical-align: middle;
    border: 0;
}