.order_block {
    padding: 30px 200px 10px 200px;
    background: #F0F0F0;
    border-bottom: 1px solid #706F93;
}

.orders_block {
    padding: 30px;
    background: #F0F0F0;
    border-bottom: 1px solid #706F93;
}