* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rounded_box.type1 {
    background-color: rgb(255, 255, 255);
    border: none;
}

.search_block {
    color: rgb(0, 173, 242);
    margin: 0 0 20px 0;
    position: relative;
}

.rounded_box .center {
    overflow: hidden;
    padding: 15px;
}

.clear {
    clear: both;
}

.search_block .label_box {
    font-size: 14px;
    font-weight: bold;
    color: #36444e;
    line-height: 1.1em;
    padding: 0 0 4px 0;
}

.s-btn-box {
    bottom: 5px;
    right: 160px;
    /*position: absolute;*/
}

.s-btn-box > #btn-searchflats {
    margin: 10px auto;
    display: block;
    width: 200px;
}

label>span {
    display: inline-block;
    width: 30px;
}
