<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>dynamic_cost</title>
    <!-- include bootstrap-->
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"
          pageEncoding="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>

    <link href="../static/css/common.css"
          rel="stylesheet"
          type="text/css"
          th:href="@{/css/common.css}"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css" />
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>
    <style>
        body {
            background-image: url(http://all4desktop.com/data_images/original/4236532-background-images.jpg);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="header-navbar">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" href="index.html"
                   th:href="@{/index}">
                    <div class="logo"></div>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav text-uppercase navbar-right">
             <li class="nav-item">
                <a class="signup-btn btn btn-default header-menu-btn"
                   href="registration.html"
                   role="button"
                   th:href="@{/registration}">
                    <span class="header-menu-btn-text">Мой кабинет</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="login-btn btn btn-default header-menu-btn navbar-brand"
                   href="login.html"
                   role="button"
                   th:href="@{/login}">
                    <span class="header-menu-btn-text">Выйти</span>
                </a>
            </li>
        </ul>
    </div>
</nav>    
<br/>
<div class="container">
    <h1 class="h1" style="text-align: center">Динамика изменения цен на недвижимость</h1><br/><br/>
    <div class="row">
        <div class="col-md-5">
            <!-- График -->
            <div id="chart" style="border:3px solid #000"></div>
            <script>
                $(function () {
                    $("#chart").shieldChart({
                        theme: "light",
                        seriesSettings: {
                            line: {
                                dataPointText: {
                                    enabled: true
                                }
                            }
                        },
                        chartLegend: {
                            align: 'center',
                            borderRadius: 2,
                            borderWidth: 2,
                            verticalAlign: 'top'
                        },
                        exportOptions: {
                            image: true,
                            print: true
                        },
                        axisX: {
                            categoricalValues: ['2012', '2013', '2014', '2015', '2016', '2017', '2018']
                        },
                        axisY: {
                            title: {
                                text: "USD/m2"
                            }
                        },
                        primaryHeader: {
                            text: "График изменения средней цены"
                        },
                        dataSeries: [ {
                            seriesType: 'line',
                            collectionAlias: 'Средняя цена',
                            data: [1325, 1688, 1750, 1469, 1199, 1159, 1301]
                        }]
                    });
                });
            </script><!-- /.График -->

        </div><!-- /.col-md-8 col-md-offset-2 -->
        <div class="col-md-5 col-md-offset-1">
            <!-- График -->
            <div id="chart2" style="border:3px solid #000"></div>

            <script>
                $(function () {
                    $("#chart2").shieldChart({
                        theme: "light",
                        seriesSettings: {
                            line: {
                                dataPointText: {
                                    enabled: true
                                }
                            }
                        },
                        chartLegend: {
                            align: 'center',
                            borderRadius: 2,
                            borderWidth: 2,
                            verticalAlign: 'top'
                        },
                        exportOptions: {
                            image: true,
                            print: true
                        },
                        axisX: {
                            categoricalValues: ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
                        },
                        axisY: {
                            title: {
                                text: "Цена (€ за kWh)"
                            }
                        },
                        primaryHeader: {
                            text: "График изменения спроса"
                        },
                        dataSeries: [ {
                            seriesType: 'line',
                            collectionAlias: 'Спрос',
                            data: [5310, 4725, 6955, 7956, 8075, 6858, 5728]
                        }]
                    });
                });
            </script><!-- /.График -->

        </div><!-- /.col-md-8 col-md-offset-2 -->
    </div><!-- /.row -->
</div>
<!-- /.container -->
<!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
</body>
</html>