<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Flats</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <link href="../static/css/common.css"
          rel="stylesheet"
          type="text/css"
          th:href="@{/css/common.css}"/>
    <link href="../static/css/flats.css"
          rel="stylesheet"
          type="text/css"
          th:href="@{/css/flats.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" pageEncoding="utf-8"/>
    <title>Flats</title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="header-navbar">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" href="index.html"
                   th:href="@{/index}">
                    <div class="logo"></div>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav text-uppercase navbar-right">
            <li class="nav-item">
                <a class="signup-btn btn btn-default header-menu-btn"
                   href="registration.html"
                   role="button"
                   th:href="@{/registration}">
                    <span class="header-menu-btn-text">Sign in</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="login-btn btn btn-default header-menu-btn navbar-brand"
                   href="login.html"
                   role="button"
                   th:href="@{/login}">
                    <span class="header-menu-btn-text">Log in</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container container-menu">
    <div class="menu">
        <div class="admin-buttons" sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-default" onclick="redirectUsers()">Пользователи</button>
            <button class="btn btn-default" onclick="showAddBlock()">Добавить квартиру</button>
        </div>
        <div class="user-buttons" sec:authorize="hasRole('USER')">
            <button class="btn btn-default" onclick="showAddBlock()">Закладки для пользователя</button>
        </div>
        <div class="common-buttons">
            <button class="btn btn-default" onclick="redirectChat()">Chat</button>
            <button class="btn btn-default" onclick="getFlats()">Показать все квартиры</button>
        </div>
        <div class="mrg_up">
            <button id="button-update" class="btn btn-default" onclick="showUpdateBlock()">Обновить</button>
            <button id="button-delete" class="btn btn-default" onclick="deleteFlat()">Удалить</button>
        </div>
    </div>
</div>
<div class="container flat-container">
    <div id="form-add" class="row">

    </div>
    <div id="form-update" class="flat_block">
    </div>
    <div id="form-show" class="flat_block" th:if="${flat!=null}">
        <div th:object="${flat}">
            <div align="center" style="font-size: 28px">
                <div th:if="${flat.addresses!=null}">
                    <b>Адрес
                        <span th:each="address:${flat.addresses}">
                            <span>Улица <span th:text="${address.street}">Янищиц</span></span>
                            <span>д. <span th:text="${address.houseNumber}">20</span>, </span>
                            <span>кв. <span th:text="${address.flatNumber}">62</span></span>
                        </span></b>
                </div>
            </div>
            <div class="container">
                <div th:if="${#lists.size(flat.images)>0}" class="row">
                    <div th:each="image:${flat.images}" align="center" class="col-6">
                        <img class="flat_Images" th:src="${image.url}"
                             src="http://www.kvartal.ru/img/showcase/39563387120_prv_7147862-S1-0015.jpg"/>
                    </div>
                </div>
            </div>

            <div id="flat_info_all" style="margin: 0 30px">
                <div id="flat_info_all_main">
                    <div align="center">Среднаяя оценка <span id="flat-average-mark" th:text="*{averageMark}" name="average-mark">4.9</span></div>
                    <div align="center">Цена   <span id="flat-month-price" th:text="*{monthPrice}" name="month-price">300</span>$</div>
                    <div align="center"><span id="flat-amount-room" th:text="*{amountRoom}" name="amount-room">3</span> комнаты</div>
                </div>


                <div id="flat_info_all_other">
                    <div>Дата добавления <span id="flat-upload-date" th:text="*{uploadDate}" name="upload-date">2017-12-03</span></div>
                    <div><span id="flat-status" th:text="*{flatStatus.type}" name="status">На продаже</span></div>
                </div>
                <!--<div class="form-update-images">
                    <div th:each="image:${flat.images}">
                        <div class="image_block_delete">
                            <img id="flat_Images" th:src="${image.url}"
                                 src="http://www.kvartal.ru/img/showcase/39563387120_prv_7147862-S1-0015.jpg"/>
                            <button style="display: block; margin: 5px auto;" class="btn btn-default"
                                    th:onclick="'deleteImage('+${image.id}+')'">Удалить
                            </button>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div id="form-delete" class="row">

    </div>
</div>

<footer>
    <div class="fixed_block" id="footer_block">
        <div class="footer_info" align="left">
            <ul id="about_us-menu">
                <li class="our_info"><a href="">Наши контакты</a></li>
                <li class="our_info"><a href="">Преимущества</a></li>
                <li class="our_info"><a href="">Наши работы</a></li>
            </ul>
        </div>
        <div class="footer_info" align="left">
            <p>Использование материалов разрешается при условии прямой гиперссылки на данный сайт. Ссылка должна быть размещена в подзаголовке или в первом абзаце публикации. <br/> © 2017 - 2017</p>
        </div>
        <div class="footer_info" align="center">
            <p class="footer_headline">Мы в соцcетях :</p>
            <a href=""><div id="gg" class="icons_social"></div></a>
            <a href=""><div id="fb" class="icons_social"></div></a>
            <a href=""><div id="tw" class="icons_social"></div></a>
            <a href=""><div id="yt" class="icons_social"></div></a>
            <hr/>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script th:src="@{/js/flat.js}" src="../static/js/flat.js"></script>
<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
</body>
</html>