<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <link href="../static/css/common.css"
          rel="stylesheet"
          type="text/css"
          th:href="@{/css/common.css}"/>
    <link href="../static/css/order.css"
          rel="stylesheet"
          type="text/css"
          th:href="@{/css/order.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous"/>
    <style>
        body {
            background-image: url(http://all4desktop.com/data_images/original/4236532-background-images.jpg);
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="header-navbar">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" href="index.html"
                   th:href="@{/index}">
                    <div class="logo"></div>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav text-uppercase navbar-right">
            <li class="nav-item">
                <a class="signup-btn btn btn-default header-menu-btn"
                   href="registration.html"
                   role="button"
                   th:href="@{/registration}">
                    <span class="header-menu-btn-text">Sign in</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="login-btn btn btn-default header-menu-btn navbar-brand"
                   href="login.html"
                   role="button"
                   th:href="@{/login}">
                    <span class="header-menu-btn-text">Log in</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="width: 800px; margin: 60px auto;">
    <div class="row">
        <div class="col-12">
            <div class="border border-primary">
                <div class="form-group order_block">
                    <div class="h4" align="center">Обновление квартиры</div>
                    <div class="form-group">
                        <input type="text" required="true" placeholder="Количество комнат" value="" name="first-name"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" required="true" placeholder="Оценка" value="" name="name"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" required="true" placeholder="Цена за месяц" value="" name="after"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" required="true" placeholder="Улица" value="" name="id"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" required="true" placeholder="Номер дома" value="" name="address"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" required="false" placeholder="Номер квартиры" value="" name="address"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" aria-describedby="fileHelp"/>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Аренда</option>
                            <option>Покупка</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Статус квартиры</label>
                        <select class="form-control" id="status">
                            <option>Куплено</option>
                            <option>Арендовано</option>
                            <option>На рынке</option>
                            <option>Убрать с рынка</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="display: block; margin: 20px auto;">Обновить</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>